body {
  background: rgb(251, 249, 249);
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: rgb(255, 255, 255);
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 20px;
  margin: 0 auto;
}